/* Default Quantower Theme : https://www.quantower.com/  */

:root {
  --primaryBGColor: #252E37;
  --primaryBorderColor: #0E1318;
  --secondaryBGColor: #131E28;
  --secondaryBorderColor: #252E37;
  --middleBGColor: #1C262F;

  --primaryTextColor: #BAC7D7;
  --secondaryTextColor: #6E7780;
  --activeTextColor: #FFFFFF;
  --accentTextColor: #6EDEFA;
  --disabledTextColor: #3E4954;

  --infoColor: #6EDEFA;
  --dangerColor: #FB5757;
  --warningColor: #FFF40D;
  --successColor: #00B259;
  --successHoverColor: #32DB87;
  --accentColor: #00566C;
  --accentHoverColor: #0782A0;

  --buyColor: #37DBBA;
  --buyColorHover: #7AFFE4;
  --buyColorActive: #51C2AB;
  --sellColor: #EB602F;
  --sellColorHover: #FF9B78;
  --sellColorActive: #C74A1E;

  --statusWarningColor: #FFEA5B;
  --statusActiveColor: #1EBB2C;

  --contextMenuBGColor: #00566C;
  --contextMenuBGHoverColor: #0782A0;
  --contextMenuTextColor: #FFFFFF;
  --contextMenuTextDisabledColor: #0782A0;

  --windowBorderExternalColor: #131E28;
  --windowBorderInternalColor: #252E37;
  --windowBGColor: #131E28;
  --windowBorderFocusedColor: #00566C;

  --link1Color: #FB5757;
  --link2Color: #78C4FF;
  --link3Color: #1EBB2C;
  --link4Color: #FFF40D;
  --link5Color: #E37DFF;

  --panelsBinds: #4aa2d9;
  --panelsAnalytics: #12b6b6;
  --panelsTrading: #7ad36d;
  --panelsPortfolio: #cdb356;
  --panelsInformational: #c58585;
  --panelsMisc: #b782cf;
  --panelsMarket: #A0A0FF;
}
